*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // This defines 1rem == 10px
}

body {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6;
    color: $color-primary-1;
}

.flash {
    color: #fff;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-primary-red;
    padding: 0.5rem 1rem;
}
