.section-default-padding {
    padding: 5rem 0;
}

// DISPLAY
.d-block {
    display: block !important;
}

// TYPOGRAPHY
.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-italic {
    font-style: italic !important;
}

// MARGINS

.mb-2 {
    margin-bottom: 2rem !important;
}

.mb-3 {
    margin-bottom: 3rem !important;
}

.mt-1 {
    margin-top: 1rem !important;
}

.mt-2 {
    margin-top: 2rem !important;
}

.mt-3 {
    margin-top: 3rem !important;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.ml-auto {
    margin-left: auto !important;
}
