@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #413f54; }

.flash {
  color: #fff;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff101f;
  padding: 0.5rem 1rem; }

.section-default-padding {
  padding: 5rem 0; }

.d-block {
  display: block !important; }

.d-flex {
  display: flex !important; }

.justify-content-between {
  justify-content: space-between; }

.justify-content-center {
  justify-content: center; }

.align-items-center {
  align-items: center; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.text-italic {
  font-style: italic !important; }

.mr-1 {
  margin-right: 1rem; }

.mr-2 {
  margin-right: 2rem; }

.mr-3 {
  margin-right: 3rem; }

.mr-4 {
  margin-right: 4rem; }

.mb-2 {
  margin-bottom: 2rem !important; }

.mb-3 {
  margin-bottom: 3rem !important; }

.mt-1 {
  margin-top: 1rem !important; }

.mt-2 {
  margin-top: 2rem !important; }

.mt-3 {
  margin-top: 3rem !important; }

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important; }

.ml-auto {
  margin-left: auto !important; }

.nav {
  margin-top: 2rem;
  padding: 0 5rem; }
  .nav__logo {
    text-align: center; }
    .nav__logo i {
      font-size: 8rem; }
  .nav__link {
    text-decoration: none;
    color: inherit; }

.notes__heading {
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #5f5aa2; }

.notes__add {
  font-size: 5rem;
  width: fit-content;
  color: #5f5aa2;
  transition: color 0.2s; }
  .notes__add:hover {
    color: #30292f; }

.notes__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem; }

.note {
  border: 3px solid #413f54;
  border-radius: 3px;
  padding: 0.5rem 1rem; }
  .note__link {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s; }
    .note__link:hover {
      color: #5f5aa2; }
  .note__title {
    font-size: 2rem;
    margin-bottom: 0.5rem; }
  .note__body {
    font-size: 1.5rem;
    font-style: italic; }
  .note__delete--submit {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.2s;
    color: #355691; }
    .note__delete--submit:hover {
      color: #ff101f; }
  .note__edit--submit {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.2s;
    color: #355691; }
    .note__edit--submit:hover {
      color: #413f54; }
  .note__created {
    color: #5f5aa2; }

.note__item {
  margin-top: 5rem;
  text-align: center; }
  .note__item--heading {
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #5f5aa2;
    text-transform: none; }
  .note__item--body {
    font-size: 2rem;
    max-width: 70%;
    margin: 0 auto;
    font-style: italic;
    margin-bottom: 2rem; }
  .note__item--created {
    font-weight: 300;
    font-style: italic; }
    .note__item--created span {
      font-weight: 400;
      font-style: normal; }

.add__heading {
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #5f5aa2; }

.add__form {
  width: 40%; }
  .add__form ::placeholder {
    color: #7d7d7d; }
  .add__form textarea {
    resize: vertical;
    min-height: 15rem;
    font-size: 1.8rem; }
  .add__form--input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #30292f;
    border-radius: 3px;
    font-size: 2.3rem;
    outline: none;
    color: inherit;
    font-family: "Nunito"; }
  .add__form--submit {
    font-size: 5rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #413f54;
    transition: color 0.2s, text-shadow 0.2s; }
    .add__form--submit:hover {
      color: #5f5aa2;
      text-shadow: 0 0.1rem 1rem #5f5aa2; }

.add__buttons {
  display: flex;
  justify-content: space-between; }
  .add__buttons--back {
    font-size: 5rem;
    color: #413f54;
    transition: color 0.2s, text-shadow 0.2s; }
    .add__buttons--back:hover {
      text-shadow: 0 0.1rem 1rem currentColor; }
