.nav {
    margin-top: 2rem;
    width: 80%;

    &__links {
        list-style: none;

        button {
            &:hover {
                color: $color-primary-red;
                text-shadow: none;
            }
        }
    }

    &__logo {
        // text-align: center;

        i {
        }

        a {
            text-decoration: none;
            color: inherit;
            font-size: 6rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }

    &__link {
        text-decoration: none;
        color: inherit;
    }
}
